input{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 16px;
    border: 2px solid black;
    background: red;
    color: #fff
}

form{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #fff;
     padding: 10px;
}
#igual{
    width: 105px;
}